<% content_for :title, t('podemos.legal.title2') %>
<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12 privacy-policy">

      <%= info_box do %>
      <h1><%= t('podemos.legal.title1') %></h1>
      <h2><%= t('podemos.legal.title2') %></h2>
      <h2><%= t('podemos.legal.title3') %></h2>
      <p> <%= t('podemos.legal.text_html') %></p>
      <% end %>
    </div>
  </div>
</div>
