
<div class="footer">
  <div class="footer-content">
    <div class="row">

      <div class="logo-footer">
          <%= image_tag "masmadrid-cubos.svg", alt: "mas madrid" %>
      </div>
      <div class="sobre-nosotros-footer">
          <h3>Colabora</h3>
          <ul>
              <li><a href="https://www.masmadrid.org/donaciones">Crowdfunding</a></li>
              <li><a href="https://www.masmadrid.org/voluntarios">Hazte voluntario</a></li>
          </ul>
      </div>
      <div class="sobre-nosotros-footer">
          <h3>Conócenos</h3>
          <ul>
              <li><a href="https://www.masmadrid.org/">Más Madrid</a></li>
              <li><a href="https://www.masmadrid.org/novedades">Novedades</a></li>
          </ul>
      </div>
      <div class="sobre-nosotros-footer">
          <h3>Ayuda</h3>
          <ul>
              <li><a href="mailto:ayuda-tecnica@masmadrid.org">¿Problemas con la inscripción?</a></li>
              <li><a href="mailto:ayuda-votacion@masmadrid.org">¿Problemas con la votación?</a></li>
          </ul>
      </div>
      <div class="redes-footer">
          <h3>síguenos</h3>
          <ul>
              <li>
                <a href="https://www.facebook.com/MasMadrid2019/" target="_blank">
                  <%= image_tag "facebook.svg", alt: "facebook mas madrid" %>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/@MasMadrid__" target="_blank">
                  <%= image_tag "twitter.svg", alt: "twitter mas madrid" %>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/MasMadrid2019/" target="_blank">
                  <%= image_tag "instagram.svg", alt: "instagram mas madrid" %>
                </a>
              </li>
              <li>
                <a href="https://api.whatsapp.com/send?phone=34653710704&text=Hola%21 Me gustar%C3%ADa estar atento de todas las novedades de M%C3%A1s Madrid y recibir mensajes con toda la informaci%C3%B3n de la iniciativa de Manuela Carmena e %C3%8D%C3%B1igo Errej%C3%B3n.%0D%0A %0D%0ARecuerda guardar este n%C3%BAmero de tel%C3%A9fono en tu tel%C3%A9fono%3A 653710704 Si no lo haces%2C no podremos enviarte mensajes%21%0D%0A%0D%0ASi no te has unido%2C ya puedes hacerlo en%3A https%3A%2F%2Fparticipa.masmadrid.org" target="_blank">
                  <%= image_tag "whatsapp_icon.svg", alt: "whatsapp mas madrid" %>
                </a>
              </li>
          </ul>
      </div>
  

        </div><%#!--.footer-contact--%>
      </div><%#!--.col-f-1a3--%>
    </div><!--.row-->
  </div><%#!--.footer-content--%>
</div><%#!--#pie--%>
