
<div class="footer">
  <div class="footer-content">
    <div class="row">
  <!-- Añadido por mi -->

      <div class="logo-footer">
          <%= image_tag "masmadrid-cubos.svg", alt: "mas madrid" %>
      </div>
      <div class="sobre-nosotros-footer">
          <h3>Colabora</h3>
          <ul>
              <li><a href="https://www.masmadrid.org/donaciones">Crowdfunding</a></li>
              <li><a href="https://www.masmadrid.org/voluntarios">Hazte voluntario</a></li>
          </ul>
      </div>
      <div class="sobre-nosotros-footer">
          <h3>Conócenos</h3>
          <ul>
              <li><a href="https://www.masmadrid.org/">Más Madrid</a></li>
              <li><a href="https://www.masmadrid.org/novedades">Novedades</a></li>
          </ul>
      </div>
      <div class="sobre-nosotros-footer">
          <h3>Ayuda</h3>
          <ul>
              <li><a href="/soporte-votaciones">¿Problemas con la inscripción?</a></li>
              <li><a href="/soporte-votaciones">¿Problemas con la votación?</a></li>
          </ul>
      </div>
      <div class="redes-footer">
          <h3>síguenos</h3>
          <ul>
              <li>
                <a href="https://www.facebook.com/MasMadrid2019/" target="_blank">
                  <%= image_tag "facebook.svg", alt: "facebook mas madrid" %>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/@MasMadrid__" target="_blank">
                  <%= image_tag "twitter.svg", alt: "twitter mas madrid" %>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/MasMadrid2019/" target="_blank">
                  <%= image_tag "instagram.svg", alt: "instagram mas madrid" %>
                </a>
              </li>
              <li>
                <a href="https://web.whatsapp.com/send?phone=34653710704&text=Hola%21%20Me%20gustar%C3%ADa%20estar%20atento%20de%20todas%20las%20novedades%20de%20M%C3%A1s%20Madrid%20y%20recibir%20mensajes%20con%20toda%20la%20informaci%C3%B3n%20de%20la%20iniciativa%20de%20Manuela%20Carmena%20e%20%C3%8D%C3%B1igo%20Errej%C3%B3n.%0D%0A%20%0D%0ARecuerda%20guardar%20este%20n%C3%BAmero%20de%20tel%C3%A9fono%20en%20tu%20tel%C3%A9fono%3A%20653710704%20Si%20no%20lo%20haces%2C%20no%20podremos%20enviarte%20mensajes%21" target="_blank">
                  <%= image_tag "whatsapp_icon.svg", alt: "whatsapp mas madrid" %>
                </a>
              </li>
          </ul>
      </div>
  <!-- Fin de añadido por mi -->

        </div><%#!--.footer-contact--%>
      </div><%#!--.col-f-1a3--%>
    </div><!--.row-->
  </div><%#!--.footer-content--%>
</div><%#!--#pie--%>
