<div class="header">

  <div class="header-content">

    <div class="col-h-1a3">
      <figure class="logo">
        <a href="/">
          <h1>
            <%= image_tag "logo-masmadrid.svg", alt: "mas madrid" %>
          </h1>
        </a>
      </figure>
    </div><!--col-h-1-->

    <% if user_signed_in? %>

    <div class="col-h-4a12">
      <nav class="menu" id="top_menu">
        <ul class="header-flex">
          <li class="menu-hamb">
            <a id="hamburger_menu" href="#">
              <%=fa_icon "bars"%> <span style="display: none;">Menú</span>
            </a>
          </li>
          <li>
            <%= nav_menu_link_to "Inicio", root_path, [root_path], title: "Inicio" %>
          </li>
          <li>
            <%= nav_menu_link_to "Datos personales", edit_user_registration_path, [edit_user_registration_path], title: "Datos personales" %>
          </li>
          <li>
            <%= nav_menu_link_to "Crowdfunding", funding_path, [funding_path], title: "Crowdfunding"  %>
          </li>
          <li>
            <%= nav_menu_link_to "Iniciativas", proposals_path, [proposals_path], title: "Iniciativas" %>
          </li>
          <li>
            <%= nav_menu_link_to "Tienda", impulsa_path, [impulsa_path], title: "Tienda" 
            # Habrá que ver a donde se dirige este enlace, porque en los otro no había tienda
            %>
          </li>
          <li>
            <%= nav_menu_link_to "Salir", destroy_user_session_path, [destroy_user_session_path], method: :delete, title: "Cerrar sesión", class: "salir-icono" %>
          </li>
        </ul>
      </nav><%#.menu%>
    </div><%#.col-h-2a4%>
    <%= render partial: 'sidr_menu' %>
    <% end %>

  </div><!--.header-content-->
</div><!--#header-->
