<div id="sidr-menu" class="invisible">
<ul>
  <li>
    <%= link_to "Inicio", root_path %>
  </li>
  <li>
    <%= link_to "Datos personales", edit_user_registration_path %>
  </li>
  <li>
    <%= link_to "Crowdfunding", funding_path %>
  </li>
  <li>
    <%= link_to "Iniciativas", proposals_path %>
  </li>
  <li>
    <%= link_to "Tienda", "https://www.masmadrid.org/temas" %>
  </li>
  <li>
    <%= link_to "Salir", destroy_user_session_path, method: :delete %>
  </li>
</ul>
</div>
